# CMake exclude paths
/CMakeLists.txt
/cmake-build-debug/
/cmake-build-release/
/.idea/

# Visual Studio exclude paths
/sfml*
/openal32.dll
/FourWins.vcx*
/.vs/
/x64/
/FourWins.sln

# Doxygen exclude paths
/documentation/
/doc.sh
